.messages-sent__main {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 80vh;
}
.messages-sent__box {
    align-items: center;
    background: var(--white);
    border-radius: 5rem;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    width: 60%;
}

.messages-sent__title {
    text-align: center;
    margin: unset;
}