.footer__contact {
    background: var(--fondo-footer);
    padding: 2rem 0;
}

@media (min-width: 360px) {
    .footer__contact {
        padding: 6rem 0;
    }
}

.footer__contact__main {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    gap: 1rem;
}
@media (min-width: 360px) {
    .footer__contact__main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .footer__contact__main {
        grid-template-columns: 1fr 1fr 2.4fr;
        gap: 4rem;
    }
}

/*----------------------footer contact logo-----------------------------*/
.footer__logo {
    justify-content: center;
}
.footer__contact__logo__description {
    color: var(--black);
    font-size: 2.2rem;
    font-weight: bold;
}
.footer__contact__logo__description--active{
    color: var(--main-blue);
}

/*----------------------footer contact links-----------------------------*/
.footer__contact__links {
    display: flex;
    flex-direction: column;
    margin: 0;
}
@media (min-width: 360px) {
    .footer__contact__links {
        margin-top: -22rem;
    }
}
@media (min-width: 768px) {
    .footer__contact__links {
        margin: 0;
    }
}
.footer__link {
    color: var(--second-color);
}
.footer__link:hover {
    color: var(--main-blue);
}

/*----------------------footer contact form-----------------------------*/
.footer__contact__form {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
@media (min-width: 360px) {
    .footer__contact__form {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}
@media (min-width: 768px) {
    .footer__contact__form {
        grid-column: 3 / 4;
    }
}
.contact__form__title {
    font-size: 2rem;
    margin: unset;
}
.contact__input {
    padding: 2rem 1rem;
    border: none;
    margin: 1rem 0;
    outline: none;
    border-radius: 1rem;
    border-bottom: 0.1rem solid var(--border-box);
}