.login {
    padding: 10rem 0;
}
.login__main {
    display: flex;
    justify-content: center;
}
.login__form {
    display: grid;
    gap: 2rem;
    width: 85%;
}
@media (min-width: 360px) {
    .login__form {
        width: 50%;
    }
}
.login__title {
    margin: unset;
    font-size: 2rem;
    text-align: center;
}
