.from__input {
    padding: 2rem 1rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    border-bottom: 1px solid var(--border-box);
}
.from__btn {
    padding: 2rem 0;
    width: 100%;
}