.product__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.product {
    width: 15rem;
    height: 30rem;
}

.product:nth-child(4),
.product:nth-child(5) {
    display: none;
}


@media (min-width: 768px) {
    .product {
        width: 18.2rem;
    }
    .product:nth-child(n) {
        display: block;
    }
}

@media (min-width: 360px) {
    .product {
        width: 18.2rem;
    }
}

.product__section__title,
.product__description,
.product__price {
    color: var(--second-color);
    margin: unset;
}

.product__price,
.product__btn {
    font-weight: 800;
}

.product__section__btn {
    align-items: center;
    display: flex;
    gap: 2rem;
}

.product__section__btn::after {
    content: url(../../img/icons/Vector.png);
}